:root {
  --text-color: #51524d;
  --link-color: #f70969;
  --icon-color: #9d9c9a;
}

/* Fonts */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    color: var(--icon-color);
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons:hover, .active .material-icons {
    color: var(--link-color);
}

body {
  color: var(--text-color);
  margin-bottom: 50px;
}

body::before {
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    z-index: 99999;
    box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.979);
  }

  a {
    color: var(--link-color);
    text-decoration: none;
  }

  /* Profile Section (Header) */
  .profile-section {
      height: 50px;
      width: 150px;
      background-color: rgba(255, 255, 255, 0.726);
      text-align: center;
      padding-left: 4px;
      border-radius: 100em 0px 0px 100em;
}

  .profile-section img {
     max-width: 45px;
  }

  .profile-img {
      border-radius: 50% 50%;
      background-color: white;
  }

  .button-vip img {
    max-height: 30px;
  }

  .button-vip {
    background: rgb(255,187,0);
    background: linear-gradient(90deg, rgba(255,187,0,1) 0%, rgba(255,247,121,1) 100%);
    border: none;
    border-radius: 20% 20%;
    color: white;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 16px;
}

/* Main Section */
section {
  margin-top: 50px;
}
section .banner img {
  border-radius: 4px;
  max-width: 100%;
}

section #categories .category-name {
  line-height: 15px;
}

section #categories .category img {
  border-radius: 4px;
}

/* Songs page */

section #songs .song-name {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

section .search {
  border: 0px;
  border-radius: 10px;
  background-color: #ece8df;
  padding: 6px;
  margin-bottom: 10px;
}

section .search {
  outline: none;
}

section hr {
  margin: 0px;
  margin-bottom: 10px;
}

section .song-img {
  border-radius: 3px;
}

section .songs, section .songs .row {
  padding-right: 0px;
}

section .songs h1 {
  margin-bottom: 17px;
}

section .alphabet {
  padding-left: 0px;
  right: 0px;
  font-size: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 141.2px);
}

section .alphabet a{
  line-height: 1;
  outline: none;
}

section .category a {
  text-decoration: none;
  outline: none;
  color: var(--text-color);
}

/* Settings */

.settings .title {
  color: black;
}

.settings .option {
  color: #969694;
}

.settings hr {
  border: 1px solid #cfcfcf;
}

/* Loader */
/*
    Author: ihatetomatoes
    Thanks: https://ihatetomatoes.net/create-custom-preloading-screen/
*/

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ab39ff;

  -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

  z-index: 1001;
}

  #loader:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #ff85fe;

      -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
  }

  #loader:after {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #ffcd84;

      -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
  }

  @-webkit-keyframes spin {
      0%   { 
          -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
          -ms-transform: rotate(0deg);  /* IE 9 */
          transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
      }
      100% {
          -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
          -ms-transform: rotate(360deg);  /* IE 9 */
          transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
      }
  }
  @keyframes spin {
      0%   { 
          -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
          -ms-transform: rotate(0deg);  /* IE 9 */
          transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
      }
      100% {
          -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
          -ms-transform: rotate(360deg);  /* IE 9 */
          transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
      }
  }

  #loader-wrapper .loader-section {
      position: fixed;
      top: 0;
      width: 51%;
      height: 100%;
      background: white;
      z-index: 1000;
      -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: translateX(0);  /* IE 9 */
      transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
  }

  #loader-wrapper .loader-section.section-left {
      left: 0;
  }

  #loader-wrapper .loader-section.section-right {
      right: 0;
  }

  /* Loaded */
  .loaded #loader-wrapper .loader-section.section-left {
      -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
          -ms-transform: translateX(-100%);  /* IE 9 */
              transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

      -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
              transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }

  .loaded #loader-wrapper .loader-section.section-right {
      -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
          -ms-transform: translateX(100%);  /* IE 9 */
              transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
      transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }
  
  .loaded #loader {
      opacity: 0;
      -webkit-transition: all 0.3s ease-out;  
              transition: all 0.3s ease-out;
  }
  .loaded #loader-wrapper {
      visibility: hidden;

      -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
          -ms-transform: translateY(-100%);  /* IE 9 */
              transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

      -webkit-transition: all 0.3s 1s ease-out;  
              transition: all 0.3s 1s ease-out;
  }
  
  /* JavaScript Turned Off */
  .no-js #loader-wrapper {
      display: none;
  }
  .no-js h1 {
      color: #222222;
  }

  #content {
      margin: 0 auto;
      padding-bottom: 50px;
      width: 80%;
      max-width: 978px;
  }  